@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

nav {
    padding: 10px;
    display:flex;
    font-family: 'Epilogue', sans-serif;
    align-items: center;
}
nav img {
    width: 3rem;
    margin: 5px;
}